:root{
    --verde:#00A149;
    --blanco:#fff;
    --rojo: #881014;
    --oscuro: #000;
    --titulos:'Arima Madurai', cursive;
    --parrafos: 'Mulish', sans-serif;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}

*,*::after, *::before{
    box-sizing: inherit;
}
/*Globales*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1,h2{
    font-family: var(--titulos);

}
h3, p, a{
    font-family: var(--parrafos);
}
.morado{
    color: rgb(166, 108, 207);
}
.fuscia{
    color: rgb(207, 44, 139);
}
.negro{
    color: #000;
}
.ocultar{
    display: none;
}
.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    color:#fff;
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;
}
.pantalla-completa{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 4;

}
.btn-cerrar:hover{
    cursor: pointer;
}


/*Encabezado*/
.contenedor-navegacion{
    background-color: rgb(228, 125, 227);
    position: relative;
    z-index: 5;
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo h2, .navegacion a{
    color:#fff;
}
.logo h2{
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem;
    display: block;
}
.navegacion a:nth-child(even){
    color: rgb(207, 44, 139);
}
.navegacion a:nth-child(odd){
    color:#000
}
.navegacion a:first-of-type{
    margin-top: 5rem;
}
.navegacion{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    padding: 3rem 4rem;
    width: 40rem;
    background-color: rgb(228, 125, 227);
}

.productos span{
    background-color: #fff;
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;

}


